@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body transition-[background] duration-300 ease-in-out bg-white dark:bg-black text-black dark:text-white;
  }

  html {
    @apply text-[16px] md:text-[18px] lg:text-[20px];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-header;
  }

  h1 {
    @apply font-extrabold text-5xl;
  }

  h2 {
    @apply font-extrabold text-4xl;
  }

  h3 {
    @apply font-bold text-3xl;
  }

  h4 {
    @apply font-bold text-2xl;
  }

  h5 {
    @apply font-semibold text-xl;
  }

  h6 {
    @apply font-semibold text-lg;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
